.info {
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.info__title {
	font-size: 30px;
	font-weight: 700;
}
.info__count {
	font-size: 25px;
	font-weight: 600;
}
